.filterHeading {
    color: #385794;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.destinationFilter, .departureFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price {
    float:right;
    font-size: 3vh;
    font-weight: bold;

}

.filterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 102.75px;
}

.textHeading {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #385794;
    font-size: 24px;
    color: white;
    margin-bottom: 25px;
}

.expire {
    color:red;
}

.titles {
    font-weight: bold;
}

.pop{
    color: #385794;

}

.cards {
    background-color: #F7F7F8;
}

.fav-button {
    /* margin-top: 23px; */
    margin-bottom: 50px;
}