.center {
    background-color: lightseagreen;
    text-align: center;
}

.destinationFilter, .departureFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price {
    float:right;
    font-size: 3vh;
    font-weight: bold;

}

.priceFilter {
    height: 2000px;
}

.filterBox {
    height: 100px;
}

.expire {
    color:red;
}

.titles {
    font-weight: bold;
}

.pop{
    color: #385794;

}

.cards {
    background-color: #F7F7F8;
}